.header
	padding: 20px
	background: #fff
	&-content
		display: flex
		
		align-items: center
	&__subtitle
		color: #666666
		font-size: 14px
		font-weight: 400
		line-height: 16px
		margin-left: 20px
	&__btn
		max-width: 140px
		border-radius: 50px
		font-size: 18px
		padding: 9px 0 11px
		box-shadow: 0 3px 0 #79971a;
		font-weight: 500
		margin-left: auto
	&-list
		display: flex
		align-items: center
		margin-left: 50px
		&__item
			font-size: 17px
			color: #333

.logo
	color: #000000
	font-size: 35px
	font-weight: 900
	line-height: 1
	text-transform: uppercase
	letter-spacing: 1.75px