<section class="block usage">
    <div class="container">
        <h2 class="title usage__title">Как принимать <span class="diaf">Diafast</span></h2>
        <h3 class="usage__subtitle">для наиболее быстрого восстановления здоровья</h3>
        <div class="usage__content">
            <div class="usage__item">
                <div class="usage__img"><span class="usage__img--num">1</span> <img alt="foto" class="usage__foto"
                        src="img/use__img-1.png"></div><span class="usage__item-line"></span>
                <p class="usage__text">Принимайте по 2 капсулы<br>
за 30 минут до еды</p>
            </div><img alt="line" class="usage__decor" src="img/use__line.svg">
            <div class="usage__item">
                <div class="usage__img"><span class="usage__img--num">2</span> <img alt="foto" class="usage__foto"
                        src="img/use__img-2.png"></div><span class="usage__item-line"></span>
                <p class="usage__text">Запейте 100 мл теплой<br>
жидкости
</p>
            </div><img alt="line" class="usage__decor" src="img/use__line.svg">
            <div class="usage__item">
                <div class="usage__img"><span class="usage__img--num usage__img--num-3">3</span> <img alt="foto" class="usage__foto"
                        src="img/use__img-3.png"></div><span class="usage__item-line"></span>
                <p class="usage__text">Рекомендуемый курс — <br>
<nobr>от 30 дней</nobr>

</p>
            </div>
        </div>
      
    </div>
</section>