.creators {
  padding: 83px 0 83px;
}

.creators__title {
  margin-bottom: 44px;
}

.creators__nav {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 40px;
}

.creators__select {
  position: relative;
  display: block;
  flex: 0 0 390px;
  margin: 0;
  color: #666666;
  font-size: 22px;
  line-height: 60px;
  text-align: center;
  cursor: pointer;
}

.creators__select::before,
.creators__select::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% 100%;
}

.creators__select::before {
  height: 60px;
  background-image: url("../img/creators-select.svg");
  opacity: 1;
}

.creators__select::after {
  height: 70px;
  background-image: url("../img/creators-select-active.svg");
  opacity: 0;
}

.creators__select + * {
  margin-left: 30px;
}

.creators__select.active {
  color: black;
  font-weight: 600;
  border-color: #82a312;
}

.creators__select.active::before {
  opacity: 0;
}

.creators__select.active::after {
  opacity: 1;
}

.creators__select-text {
  position: relative;
  z-index: 1;
}

.creators__body {
  position: relative;
  display: flex;
}

.creators__card {
  position: absolute;
  z-index: 0;
  opacity: 0;
  transition: opacity $transition-duration;
}

.creators__card.active {
  z-index: 1;
  opacity: 1;
}

@media screen and (max-width: 1023px) {
  .creators__title {
    margin-bottom: 30px;
  }

  .creators__nav {
    max-width: 670px;
    margin: 0 auto 20px;
  }

  .creators__select {
    flex-basis: 250px;
    font-size: 18px;
    background: white;
    border: 2px solid;
    border-color: #a8bdd2;
    line-height: 54px;
    border-radius: 30px / 50%;
    transition-property: color, border-color;
    transition-duration: $transition-duration;
  }

  .creators__select::before,
  .creators__select::after {
    content: none;
  }

  .creators__select:hover {
    color: black;
    border-color: #82a312;
  }

  .creators__body {
    max-width: 670px;
    margin: 0 auto;
    overflow: hidden;
  }
}

@media screen and (max-width: 767px) {
  .creators__title {
    max-width: 400px;
    margin: 0 auto 30px;
  }

  .creators__title .accent-color {
    white-space: nowrap;
  }
}

@media screen and (max-width: 639px) {
  .creators__select {
    padding: 0 25px;
    font-size: 16px;
    flex-basis: 210px;
    border-radius: 25px / 50%;
    line-height: 46px;
  }

  .creators__select + .creators__select {
    margin-left: 10px;
  }
}

@media screen and (max-width: 479px) {
  .creators__title,
  .creators__nav {
    margin-bottom: 25px;
  }

  .creators__nav {
    flex-direction: column;
    align-items: center;
  }

  .creators__select {
    width: 100%;
    max-width: 260px;
    flex-basis: 50px;
  }

  .creators__select + .creators__select {
    margin: 0;
    margin-top: 20px;
  }
}
