<section class="creators block" id="doctor">
  <div class="creators__container container">
    <h2 class="creators__title title" id="doctor">Создатели программы <span class="accent-color nowrap">Halki Diabetes Remedy</span> рекомендуют <span class="diaf">Diafast</span></h2>
    <div class="creators__nav">
      <div class="creators__select active" type="button">
        <span class="creators__select-text">Эрик Уитфилд</span>
      </div>
      <div class="creators__select" type="button">
        <span class="creators__select-text">Аманда Фэйерсон</span>
      </div>
    </div>
    <div class="creators__body">
      <div class="creators__card creator-card active">
        <div class="creator-card__portrait">
          <img src="img/creator-01.jpg" alt="" class="creator-card__photo">
        </div>
        <blockquote class="creator-card__text">
          <div class="creator-card__paragraphs">
            <p class="creator-card__paragraph">Мне пришлось разработать программу <span class="nowrap">Halki Diabetes Remedy</span>, когда моя жена едва не&nbsp;умерла от&nbsp;диабета 2&nbsp;типа из-за бездействия врачей. <b>Мне просто пришлось взять дело в&nbsp;свои руки</b>. Волею судьбы я&nbsp;познакомился с&nbsp;ребятами из&nbsp;Халки и&nbsp;Амандой Фэйерсон.</p>
            <p class="creator-card__paragraph">Я&nbsp;неимоверно горжусь, что за&nbsp;годы исследований нам <b>удалось создать капсулы Diafast</b>, которые помогают людям избавиться от&nbsp;диабета 2&nbsp;типа. Компоненты в&nbsp;их&nbsp;составе работают не&nbsp;каждый по&nbsp;отдельности, а&nbsp;складываются вместе в&nbsp;эффективную формулу.</p>
            <p class="creator-card__paragraph creator-card__paragraph--md">В&nbsp;результате приема Diafast, из&nbsp;организма больного диабета <b>выводятся токсины</b>, его <b>давление нормализуется</b>, а&nbsp;сопутствующие <b>симптомы полностью исчезают</b>. <br>Это средство устраняет причину болезни, позволяя навсегда забыть о&nbsp;диабете.</p>
          </div>
          <div class="creator-card__footer">
            <b class="creator-card__author"><address>Эрик Уитфилд</address>,</b>
            <p class="creator-card__about-author">врач-диабетолог, ученый, <br>автор программы <span class="nowrap">Halki Diabetes Remedy</span></p>
            <img src="img/creator-01-sign.png" alt="" class="creator-card__pictures creator-card__pictures--first">
          </div>
        </blockquote>
      </div>
      <div class="creators__card creator-card">
        <div class="creator-card__portrait">
          <img src="img/creator-02.jpg" alt="" class="creator-card__photo">
        </div>
        <blockquote class="creator-card__text">
          <div class="creator-card__paragraphs">
            <p class="creator-card__paragraph">Моя миссия&nbsp;&mdash; донести информацию о&nbsp;здоровой еде и&nbsp;о&nbsp;том, как она приносит пользу телу. Тем&nbsp;не&nbsp;менее, у&nbsp;меня был шанс, поучаствовать в&nbsp;создании капсул Diafrast.</p>
            <p class="creator-card__paragraph">Признаюсь, я&nbsp;не&nbsp;большой поклонник лекарств и&nbsp;таблеток, но&nbsp;это <b>средство однозначно эффективнее</b> здоровой еды. По&nbsp;факту, <b>1&nbsp;капсула Diafast&nbsp;&mdash; это 3&nbsp;дня здорового питания</b> со&nbsp;строгим рационом.</p>
            <p class="creator-card__paragraph">Для большего эффекта я&nbsp;все&nbsp;же рекомендую комбинировать диету и&nbsp;Diafast.</p>
          </div>
          <div class="creator-card__footer">
            <b class="creator-card__author"><address>Аманда Фэйерсон</address>,</b>
            <p class="creator-card__about-author">диетолог, ученый, <br>соавтор программы <span class="nowrap">Halki Diabetes Remedy</span></p>
            <img src="img/creator-02-sign.png" alt="" class="creator-card__pictures creator-card__pictures--second">
          </div>
        </blockquote>
      </div>
    </div>
  </div>
</section>