<section class="creators block">
  <div class="creators__container container">
    <h2 class="creators__title title">Создатели программы <span class="accent-color">Halki Diabetes Remedy</span> рекомендуют Diafast</h2>
    <div class="creators__nav">
      <button class="creators__select active" type="button">
        <span class="creators__select-text">Эрик Уитфилд</span>
      </button>
      <button class="creators__select" type="button">
        <span class="creators__select-text">Аманда Фэйерсон</span>
      </button>
    </div>
    <div class="creators__body">
      <div class="creators__card creator-card active">
        <div class="creator-card__portrait">
          <img src="img/creator-01.jpg" alt="" class="creator-card__photo">
        </div>
        <blockquote class="creator-card__text">
          <p class="creator-card__paragraph">Мне пришлось разработать программу Halki Diabetes Remedy, когда моя жена едва не умерла от&nbsp;диабета 2 типа из-за бездействия врачей. <b>Мне просто пришлось взять дело в свои руки</b>. Волею судьбы я познакомился с ребятами из Халки и Амандой Фэйерсон.</p>
          <p class="creator-card__paragraph">Я неимоверно горжусь, что за годы исследований нам <b>удалось создать капсулы Diafast</b>, которые помогают людям избавиться от диабета 2 типа. Компоненты в их составе работают не каждый по отдельности, а складываются вместе в эффективную формулу.</p>
          <p class="creator-card__paragraph">В результате приема Diafast, из организма больного диабета <b>выводятся токсины</b>,
              его <b>давление нормализуется</b>, а сопутствующие <b>симптомы полностью исчезают</b>. <br>Это средство устраняет причину болезни, позволяя навсегда забыть о диабете.</p>
          <div class="creator-card__footer">
            <b class="creator-card__author"><address>Эрик Уитфилд</address>,</b>
            <p class="creator-card__about-author">врач-диабетолог, ученый, <br>автор программы Halki Diabetes Remedy</p>
            <img src="img/creator-01-sign.png" alt="" class="creator-card__pictures creator-card__pictures--first">
          </div>
        </blockquote>
      </div>
      <div class="creators__card creator-card">
        <div class="creator-card__portrait">
          <img src="img/creator-02.jpg" alt="" class="creator-card__photo">
        </div>
        <blockquote class="creator-card__text">
          <p class="creator-card__paragraph">Моя миссия — донести информацию о здоровой еде и о том, как она приносит пользу
              телу. Тем не менее, у меня был шанс, поучаствовать в создании капсул Diafrast. <br>Признаюсь, я не большой поклонник лекарств и таблеток, но это средство однозначно эффективнее здоровой еды. По факту, 1 капсула Diafast — это 3 дня здорового питания
              со строгим рационом.</p>
          <p class="creator-card__paragraph">Для большего эффекта я все же рекомендую комбинировать диету и Diafast.</p>
          <div class="creator-card__footer">
            <b class="creator-card__author"><address>Аманда Фэйерсон</address>,</b>
            <p class="creator-card__about-author">диетолог, ученый, <br>соавтор программы Halki Diabetes Remedy</p>
            <img src="img/creator-02-sign.png" alt="" class="creator-card__pictures creator-card__pictures--second">
          </div>
        </blockquote>
      </div>
    </div>
  </div>
</section>