<section class="disease">
  <div class="container">
    <h2 class="title disease__title sign__title-number">
      А может, вследствие диабета<br />
      у вас появились серьезные болезни?
    </h2>
    <p class="disease__subtitle">
      Статистика ВОЗ:<br />
      у 87% людей с диабетом диагностируются сопутствующие заболевания
    </p>
    <div class="disease-slider">
      <div class="disease-content">
        <div class="disease-box">
          <div class="disease-box__img">
            <img src="img/disease-1.jpg" alt="disease" />
          </div>
          <h3 class="disease-box__title">Атеросклероз</h3>
        </div>
        <div class="disease-box">
          <div class="disease-box__img">
            <img src="img/disease-2.jpg" alt="disease" />
          </div>
          <h3 class="disease-box__title">Ишемическая болезнь</h3>
        </div>
        <div class="disease-box">
          <div class="disease-box__img">
            <img src="img/disease-3.jpg" alt="disease" />
          </div>
          <h3 class="disease-box__title">Повышенный холестерин</h3>
        </div>
        <div class="disease-box">
          <div class="disease-box__img">
            <img src="img/disease-4.jpg" alt="disease" />
          </div>
          <h3 class="disease-box__title">Слепота</h3>
        </div>
        <div class="disease-box">
          <div class="disease-box__img">
            <img src="img/disease-5.jpg" alt="disease" />
          </div>
          <h3 class="disease-box__title">Почечная недостаточность</h3>
        </div>
        <div class="disease-box">
          <div class="disease-box__img">
            <img src="img/disease-6.jpg" alt="disease" />
          </div>
          <h3 class="disease-box__title">Гипертония</h3>
        </div>
        <div class="disease-box">
          <div class="disease-box__img">
            <img src="img/disease-7.jpg" alt="disease" />
          </div>
          <h3 class="disease-box__title">Нарушения липидного обмена</h3>
        </div>
        <div class="disease-box">
          <div class="disease-box__img">
            <img src="img/disease-8.jpg" alt="disease" />
          </div>
          <h3 class="disease-box__title">Депрессия</h3>
        </div>
      </div>
			<div class="arrow-container">
					<svg
					class="arrow-left"
					xmlns="http://www.w3.org/2000/svg"
					width="55"
					height="30"
					viewBox="0 0 55 30"
				>
					<g>
						<g>
							<path
								d="M.42 16.01L11.435 30l1.414-1.429-10.142-12.56H55v-2.02H2.706L12.85 1.426 11.435 0 .42 13.99H0v2.02z"
							/>
						</g>
					</g>
				</svg>
				<svg
					class="arrow-right"
					xmlns="http://www.w3.org/2000/svg"
					width="55"
					height="30"
					viewBox="0 0 55 30"
				>
					<g>
						<g>
							<path
								d="M54.58 16L43.565 29.849l-1.414-1.413L52.293 16H0v-2h52.294L42.15 1.564 43.565.15 54.581 14H55v2z"
							/>
						</g>
					</g>
				</svg>
			</div>
    </div>
    <p class="disease__why">
      Эти болезни возникают из-за разрушительного действия сахара,<br> который
      остается в крови, а не перерабатывается в энергию
    </p>
    <p class="disease__note">
      При диабете понижать уровень сахара — недостаточно. <br> Необходимо заняться
      восстановлением всего организма, чтобы не допустить осложнений <span class="nowrap">и серьезных</span>
      болезней!
    </p>
  </div>
</section>
