<section class="statistics block leaves">
  <div class="container">
    <h2 class="title">
      Исследование APDS 2018 года<br />
      показало <span class="title--bg nowrap">эффективность <span class="diaf">Diafast</span></span>
    </h2>
    <p class="statistics__subtitle">
      по снижению уровня сахара, устранению сопутствующих болезней при диабете
    </p>
    <h4 class="statistics-content__title">
      <b>Процент пациентов</b>, которые почувствовали <b>улучшение</b> в течение
      30 дней исследования:
    </h4>
    <ul class="statistics-content">
      <li class="statistics-content-box">
        <div class="statistics-content__img">
          <img src="img/statistics-apple.png" alt="apple" />
        </div>
        <div class="statistics-content-group">
          <p class="statistics-content__rule">Соблюдение диеты</p>
          <p class="statistics-content__percent">
            21,2<span class="statistics-content__percent--size">%</span>
          </p>
        </div>
      </li>
      <li class="statistics-content-box statistics-content-box--ml1">
        <div class="statistics-content__img ">
          <img
            class="statistics-content__pack statistics-content__pack1"
            src="img/pack.png"
            alt="apple"
          />
        </div>
        <div class="statistics-content-group">
          <p class="statistics-content__rule">Применение Diafast</p>
          <p class="statistics-content__percent percent--color2">
            73<span class="statistics-content__percent--size">%</span>
          </p>
        </div>
      </li>
      <li class="statistics-content-box statistics-content-box--ml2">
        <div class="statistics-content__img">
          <img
            class="statistics-content__pack"
            src="img/pack.png"
            alt="apple"
          /><img
            class="statistics-content__apple"
            src="img/statistics-apple.png"
            alt="apple"
          />
        </div>
        <div class="statistics-content-group">
          <p class="statistics-content__rule">Применение Diafast + диеты</p>
          <p class="statistics-content__percent percent--color3">
            90,4<span class="statistics-content__percent--size">%</span>
          </p>
        </div>
      </li>
    </ul>
    <h3 class="statistics__title">
      Diafast получил сертификаты качества<br />
      международного образца
    </h3>
    <ul class="statistics-cert">
      <li class="statistics-cert__item">
        <img src="img/certificate-1.jpg" alt="certificate-1" />
      </li>
      <li class="statistics-cert__item">
        <img src="img/certificate-2.jpg" alt="certificate-2" />
      </li>
      <li class="statistics-cert__item">
        <img src="img/certificate-3.jpg" alt="certificate-3" />
      </li>
    </ul>
    <button class="statistics__btn btn">
      Заказать Diafast <span class="btn__info">бесплатно</span>
    </button>
  </div>
</section>
