<section class="timer block">
    <div class="container">
        <div class="timer__prod">
            <img src="img/product_pack.png" alt="" class="timer__prod__pack">
            <img src="img/sale.png" alt="" class="timer__prod__sale">
            <span>Акция</span>
        </div>
        <div class="timer__until">Только сегодня <nobr><span class="date-0" data-format="dd month">22 октября</span></nobr> <span class="red">БЕСПЛАТНО!*</span></div>
        <div class="wrapper">
        <div class="timer__span">
            До конца акции<br> осталось
        </div>
        <div class="time__value">
            <div class="time__cont">
                <span class="hours time__cont-val"></span>
                <span class="hours time__cont-val"></span>
            </div>
            <span class="time__dot">:</span>
            <div class="time__cont">
                <span class="minutes time__cont-val"></span>
                <span class="minutes time__cont-val"></span>
            </div>
            <span class="time__dot">:</span>
            <div class="time__cont">
                <span class="seconds time__cont-val"></span>
                <span class="seconds time__cont-val"></span>
            </div>
        </div>
    </div>
    <div class="btndiv">
        <button class="ever-popup-btn btn">Получить бесплатно</button>
        <span class="order-snos">*при оформлении заказа</span>
</div>

    </div>
</section>