<section class="reviews block" id="reviews">
  <div class="container">
    <h2 class="title">Отзывы о <span class="diaf">Diafast</span></h2>
    <div class="reviews-slider">
      <div class="reviews-text">
        <div class="reviews-text-box">
          <div class="reviews-text__avatar">
            <img src="img/avatar-1.png" alt="avatar" />
          </div>
          <h3 class="reviews-text__name">Ирина</h3>
          <p class="reviews-text__city">30 лет, Уфа</p>
          <div class="reviews-text-body">
            <p class="reviews-text__annotation">Самочувствие мамы улучшилось</p>
            <img
              class="reviews-text__separator"
              src="img/reviews-separator.png"
              alt="separator"
            />
            <p class="reviews-text__item">
								Добрый день. Моей маме 51 и ей поставили диагноз сахарный диабет 2 типа. Врачи выписали ей таблетки, но мама все равно чувствовала себя плохо: слабость была, зрение резко упало, ноги немели. Боялась <span class="nowrap">что будет</span> трофическая язва, как <span class="nowrap">у нашего</span> деда. 
								Начала искать <span class="nowrap">в интернете</span> информацию, как помочь маме и вышла на  программу <span class="nowrap">Halki Diabetes Remedy</span>. <br> По отзывам это крутая штука, но я знала, что бесполезно приучить маму есть брокколи. Тем более 21 день. 
								Поначалу расстроилась, но потом попала на сайт Диафаста. Сразу же поняла, что надо брать. 
								Мама сначала говорила, что это развод, но спустя месяц начала активно благодарить. Самочувствие ее гораздо улучшилось, она стала намного бодрее. 
								
								
						</p>
						<div class="shadow"></div>
          </div>
          <div class="reviews-text__btn"></div>
        </div>
        <div class="reviews-text-box">
          <div class="reviews-text__avatar">
            <img src="img/avatar-2.png" alt="avatar" />
          </div>
          <h3 class="reviews-text__name">Катеринка</h3>
          <p class="reviews-text__city">50 лет, Москва</p>
          <div class="reviews-text-body">
            <p class="reviews-text__annotation">
              Похудела и лучше себя чувствую
            </p>
            <img
              class="reviews-text__separator"
              src="img/reviews-separator.png"
              alt="separator"
            />
            <p class="reviews-text__item">
								Вес у меня был большой, около 80-ти килограмм, отсюда и диабет взялся.
							Диафаст мне посоветовал знакомый врач, как хорошую альтернативу дорогим аптечным препаратам,
							который может убрать ожирение. Я теперь и про инсулин забыла, настолько теперь всё в норме.
							И осложнений могу не бояться, раньше много нервничала из-за этого. Не нравится только, что
							все равно после курса нужно сидеть на диете.
								
						</p>
						<div class="shadow"></div>
          </div>
          <div class="reviews-text__btn"></div>
        </div>
        <div class="reviews-text-box">
          <div class="reviews-text__avatar">
            <img src="img/avatar-3.png" alt="avatar" />
          </div>
          <h3 class="reviews-text__name">Max</h3>
          <p class="reviews-text__city">40 лет, {{location.name}}</p>
          <div class="reviews-text-body">
            <p class="reviews-text__annotation">
              Чувствую себя вполне здоровым
            </p>
            <img
              class="reviews-text__separator"
              src="img/reviews-separator.png"
              alt="separator"
            />
            <p class="reviews-text__item">
							Бабушка еле ходила от диабета, но умерла от инсульта. У меня тоже слабое сердце, а когда диагностировали диабет, подумал, что меня ждет такая же смерть, как и бабушку. 
							Нашел информацию о Халки и решил полечиться по их рекомендации, правда онлайн-курс заказывать не стал. Подумал, что за рецепты на 2 недели — это слишком дорого, а капсулы, которые они присылают, я заказывал здесь. 
							Питался я значит рисом, фруктами и овощами 10 недель, принимал диафаст и наконец-то начал замечать результат. Вес начал снижаться, а один раз даже рвало — думаю, то токсины так выходили. 
							Чувствую, как здоровье улучшается с каждым днем.
							
						</p>
						<div class="shadow"></div>
          </div>
          <div class="reviews-text__btn"></div>
				</div>
				<div class="reviews-text-box">
						<div class="reviews-text__avatar">
							<img src="img/avatar-4.png" alt="avatar" />
						</div>
						<h3 class="reviews-text__name">Марина</h3>
						<p class="reviews-text__city">42 года, Войвож</p>
						<div class="reviews-text-body">
							<p class="reviews-text__annotation">
									Даже вес снизился
							</p>
							<img
								class="reviews-text__separator"
								src="img/reviews-separator.png"
								alt="separator"
							/>
							<p class="reviews-text__item">
									О том, что у меня диабет, я узнала самым удивительным образом -
									просто прошла тестик в интернете. Я сначала не поверила, но кровь на сахар сдала.
									И диагноз подтвердился! Переживала, страх. Он же фактически не лечится. Но моя подруга
									фармацевт посоветовала мне попробовать препарат Диафаст, чтобы организм поддержать
									и не дать ему загнуться. Ну и сахар конечно же в норме держать.
									И помогло, я могу больше не нервничать, слава тебе господи. И вес даже снизился!
							</p>
							<div class="shadow"></div>
						</div>
						<div class="reviews-text__btn"></div>
					</div>
					<div class="reviews-text-box">
							<div class="reviews-text__avatar">
								<img src="img/avatar-5.png" alt="avatar" />
							</div>
							<h3 class="reviews-text__name">Александр</h3>
							<p class="reviews-text__city">54 года, Воронеж</p>
							<div class="reviews-text-body">
								<p class="reviews-text__annotation">
										Чувствую себя, как до диабета
								</p>
								<img
									class="reviews-text__separator"
									src="img/reviews-separator.png"
									alt="separator"
								/>
								<p class="reviews-text__item">
										Попал в больницу с улицы — оказалось, диабетическая кома, сахар
										был 19. Кололи инсулином, потом жена забрала из больницы. Врачи пугали: у вас пять
										смертельных диагнозов. Полгода сам занимался йогой, но без особого успеха. Уже потом
										мне объяснили, что питание по йоге при диабете противопоказано… По сути спас меня
										Диафаст. Когда начал принимать сахар стабилизировался и начал себя чувствовать, как до диабета.
										В туалет перестал бегать так часто - а это говорит о том, что внутренние системы
										приходят в себя. Но хоть и теперь все нормально, все равно продолжаю принимать средство это курсами.
									


								</p>
								<div class="shadow"></div>
							</div>
							<div class="reviews-text__btn"></div>
						</div>
						<div class="reviews-text-box box-fix-height">
								<div class="reviews-text__avatar">
									<img src="img/avatar-6.png" alt="avatar" />
								</div>
								<h3 class="reviews-text__name">Радион</h3>
								<p class="reviews-text__city">49 лет, {{location.name}}</p>
								<div class="reviews-text-body">
									<p class="reviews-text__annotation">
										Хотелось бы купить в аптеке
									</p>
									<img
										class="reviews-text__separator"
										src="img/reviews-separator.png"
										alt="separator"
									/>
									<p class="reviews-text__item">
											Прохожу переодически курсами, класный препарат. И вес снижает хорошо. Правда
							не нравиться то, что его нельзя купить в аптеке и нужно заказывать
							в интернете каждый раз. 
							И хорошо, что это капсулы, а не какие-то уколы. Да и качество лекарства от этого не портится. 

	
	
									</p>
								</div>
								<!-- <div class="reviews-text__btn"></div> -->
							</div>
							<div class="reviews-text-box">
									<div class="reviews-text__avatar">
										<img src="img/avatar-7.png" alt="avatar" />
									</div>
									<h3 class="reviews-text__name">Мария Николаевна</h3>
									<p class="reviews-text__city">47 лет, Москва</p>
									<div class="reviews-text-body">
										<p class="reviews-text__annotation">
												Здоровье сына в норме
										</p>
										<img
											class="reviews-text__separator"
											src="img/reviews-separator.png"
											alt="separator"
										/>
										<p class="reviews-text__item">
												Я была просто в ужасе, когда у моего 15-летнего сына диагностировали диабет. Больше всего поразило равнодушие врачей: полтаблетки не помогает — выпейте целую, потом — две, потом три и ничего, какая-то обреченность. Спасибо интернету, там мы нашли Диафаст, который нам помог. Принимаем его по инструкции раз в день, очень удобно, что это капсулы. 
Здоровье сына держится в норме, но зашла еще купить упаковку, чтобы курс закончить.

	
		
		
										</p>
										<div class="shadow"></div>
									</div>
									<div class="reviews-text__btn"></div>
								</div>
								<div class="reviews-text-box">
										<div class="reviews-text__avatar">
											<img src="img/avatar-8.png" alt="avatar" />
										</div>
										<h3 class="reviews-text__name">Константин</h3>
										<p class="reviews-text__city">38 лет, Пушкино</p>
										<div class="reviews-text-body">
											<p class="reviews-text__annotation">
													Вроде бы вылечился от диабета
											</p>
											<img
												class="reviews-text__separator"
												src="img/reviews-separator.png"
												alt="separator"
											/>
											<p class="reviews-text__item">
													У меня часто пересыхало в горле и я даже ночью вставал воды попить. Сдал кровь на сахар и получил результат 12,5 — 12,7. Отправили в больницу на 21 день и кололи инсулин. От него у меня начались проблемы с желудком. 
Жена начиталась про систему Халки и начала кормить полезными продуктами, купила Диафаст. Я мечтал о хлебе, пиве и картошке, но понимал, что нужно потерпеть. Благодаря Диафасту и строгой диете показатели на глюкометре пришли в норму. 

			
			
											</p>
											<div class="shadow"></div>
										</div>
										<div class="reviews-text__btn"></div>
									</div>
									<div class="reviews-text-box box-fix-height">
											<div class="reviews-text__avatar">
												<img src="img/avatar-9.png" alt="avatar" />
											</div>
											<h3 class="reviews-text__name">Ольга</h3>
											<p class="reviews-text__city">60 лет, {{location.name}}</p>
											<div class="reviews-text-body">
												<p class="reviews-text__annotation">
														Сахар держится в норме
												</p>
												<img
													class="reviews-text__separator"
													src="img/reviews-separator.png"
													alt="separator"
												/>
												<p class="reviews-text__item">
														Хороший препарат! Когда у меня диагностировали диабет им и начала лечиться, и очень довольна, состояние и самочувствие хорошее, сахар постоянно держится в норме, как будто у меня и нет диабета. Заказываю на официальном сайте, приходит без задержек. 
												</p>
											</div>
											<!-- <div class="reviews-text__btn"></div> -->
										</div>
										<div class="reviews-text-box box-fix-height">
												<div class="reviews-text__avatar">
													<img src="img/avatar-10.png" alt="avatar" />
												</div>
												<h3 class="reviews-text__name">Лариса</h3>
												<p class="reviews-text__city">57 лет, Кстово</p>
												<div class="reviews-text-body">
													<p class="reviews-text__annotation">
															Средство подошло
													</p>
													<img
														class="reviews-text__separator"
														src="img/reviews-separator.png"
														alt="separator"
													/>
													<p class="reviews-text__item">
															Средство мне подошло. В отличие от всяких средств из аптеки помогло мне справиться с диабетом. Теперь могу не переживать из-за скачков сахара, но думаю надо будет повторить курс через какое-то время. 

													</p>
													
												</div>
												<!-- <div class="reviews-text__btn"></div> -->
											</div>
      </div>
      <div class="arrow-container">
        <svg
          class="arrow-left arrow-left-text"
          xmlns="http://www.w3.org/2000/svg"
          width="55"
          height="30"
          viewBox="0 0 55 30"
        >
          <g>
            <g>
              <path
                d="M.42 16.01L11.435 30l1.414-1.429-10.142-12.56H55v-2.02H2.706L12.85 1.426 11.435 0 .42 13.99H0v2.02z"
              />
            </g>
          </g>
        </svg>
        <svg
          class="arrow-right arrow-right-text"
          xmlns="http://www.w3.org/2000/svg"
          width="55"
          height="30"
          viewBox="0 0 55 30"
        >
          <g>
            <g>
              <path
                d="M54.58 16L43.565 29.849l-1.414-1.413L52.293 16H0v-2h52.294L42.15 1.564 43.565.15 54.581 14H55v2z"
              />
            </g>
          </g>
        </svg>
      </div>
		</div>
		<!-- <h2 class="title">Аудио- и видеоотзывы</h2>
		<div class="reviews-audio">
				<div class="reviews-audio-box audio-1">
						<h3 class="reviews-audio__title">
								Екатерина, 28 лет
							</h3>
					<audio preload="auto">
						<source preload="auto" src="audio/w45.mp3" type="audio/mp3"></audio>
			
				</div>
				<div class="reviews-audio-box audio-2">
						<h3 class="reviews-audio__title">
								Борис, 35 лет
							</h3>
					<audio preload="auto">
						<source preload="auto" src="audio/w50.mp3" type="audio/mp3"></audio>
			
				</div>
				<div class="reviews-audio-box audio-3">
						<h3 class="reviews-audio__title">
								Дмитрий, 40 лет
							</h3>
					<audio preload="auto">
						<source  src="audio/w55.mp3" type="audio/mp3"></audio>
	
				</div>
			</div>
			<div class="reviews-video">
				<div class="video-slider">
						<div class="reviews-video-box">
								<div class="reviews-video-youtube youtube" id="iO3WfA0nSEM"></div>
								<h2 class="reviews__auth">Виктор, 35 лет</h2>
							</div>
							<div class="reviews-video-box">
								<div class="reviews-video-youtube youtube" id="miMGVkaLiSk"></div>
								<h2 class="reviews__auth">Любовь, 40 лет</h2>
							</div>
							<div class="reviews-video-box">
								<div class="reviews-video-youtube youtube" id="4GeEdszys7M"></div>
								<h2 class="reviews__auth">Мария, 50 лет</h2>
							</div>
				</div>
				<div class="arrow-container">
						<svg
							class="arrow-left arrow-left-video"
							xmlns="http://www.w3.org/2000/svg"
							width="55"
							height="30"
							viewBox="0 0 55 30"
						>
							<g>
								<g>
									<path
										d="M.42 16.01L11.435 30l1.414-1.429-10.142-12.56H55v-2.02H2.706L12.85 1.426 11.435 0 .42 13.99H0v2.02z"
									/>
								</g>
							</g>
						</svg>
						<svg
							class="arrow-right arrow-right-video"
							xmlns="http://www.w3.org/2000/svg"
							width="55"
							height="30"
							viewBox="0 0 55 30"
						>
							<g>
								<g>
									<path
										d="M54.58 16L43.565 29.849l-1.414-1.413L52.293 16H0v-2h52.294L42.15 1.564 43.565.15 54.581 14H55v2z"
									/>
								</g>
							</g>
						</svg>
					</div>
			</div> -->
  </div>
</section>
