<section class="infographic block">
    <div class="container">
        <h2 class="title infographic__title"><span class="diaf">Diafast</span> – <span style="color: #ed8026;">восстановите здоровье</span>&nbsp;<br>при диабете <span class="nowrap">2-го&nbsp;типа</span></h2>


        <p class="infographic__desc"><span class="font-bold">Diafast</span> – уникальный препарат, формула которого основана на программе <span
                class="font-bold nowrap"><nobr>Halki Diabetes Remedy.</nobr></span><br> Основные преимущества этих капсул — <span
                class="font-bold">выведение токсинов, нормализация уровня сахара</span><br>
                в крови и <span
                class="font-bold">устранение</span> сопутствующих диабету <nobr><span
                class="font-bold">симптомов и болезней</span>.</nobr> </p>


            <h3 class="infographic__ttl">Как работает Diafast?</h3>
        <div class="infographic__content">
            <div class="col col--1">
                <div class="col__check col__check--1">
                    2 <small>день</small>
                </div>
                <p class="col__text">Нормализует&nbsp;<br>
                    уровень сахара</p>
            </div>
            <div class="col col--2">
                <div class="col__check col__check--2">
                    5 <small>дней</small>
                </div>
                <p class="col__text">Восстанавливает&nbsp;<br>
                    артериальное&nbsp;<br>
                    давление</p>
            </div>
            <div class="col col--3">
                <div class="col__check col__check--3">
                    10 <small>дней</small>
                </div>
                <p class="col__text">Меньше&nbsp;<br>
                    беспокоит&nbsp;<br>
                    сухость во рту</p>
            </div>
            <div class="col col--4">
                <div class="col__check col__check--4">
                    15 <small>дней</small>
                </div>
                <p class="col__text">Постепенно&nbsp;<br>
                    уходит&nbsp;<br>
                    лишний вес</p>
            </div>
            <div class="col col--5">
                <div class="col__check col__check--5">
                    20 <small>дней</small>
                </div>
                <p class="col__text">Улучшает&nbsp;<br>
                    зрение</p>
            </div>
            <div class="col col--6">
                <div class="col__check col__check--6">
                    25 <small>дней</small>
                </div>
                <p class="col__text">Конечности&nbsp;<br>
                    прекращают&nbsp;<br>
                    неметь</p>
            </div>
            <div class="col col--7">
                <div class="col__check col__check--7">
                    30 <small>дней</small>
                </div>
                <p class="col__text">Возвращает&nbsp;<br>
                    отличное&nbsp;<br>
                    самочувствие</p>
            </div>
        </div><button class="btn infographic__btn ever-popup-btn">Заказать Diafast<br><span>бесплатно</span></button>
    </div>
</section>