<section class="consist block">
	<div class="container">
		<h2 class="title consist__title">В Diafast все компоненты объединены<br>
			в работающую формулу

		</h2>
		<div class="consist__content">
			<div class="consist__row consist__row-1">
				<div class="consist__item consist__item--bigest">
					<div class="consist__img"><span
							class="consist__img--rline consist__img--rline--small consist__img--rline--small-f"></span>
						<span class="consist__img--rline-vertical consist__img--rline-vertical-f"></span> <img
							alt="consist" class="consist__foto" src="img/comp1.png"></div>
					<h3 class="consist__text">Инулин</h3>
					<p class="consist__des">нормализует углеводный и липидный обмен, восстанавливает микрофлору
						кишечника</p>
				</div>
				<div class="consist__item consist__item--bigest">
					<div class="consist__img"><span
							class="consist__img--lline consist__img--lline--small consist__img--lline--small-f"></span>
						<span class="consist__img--lline-vertical consist__img--lline-vertical-f"></span> <img
							alt="consist" class="consist__foto" src="img/comp3.png"></div>
					<h3 class="consist__text">Альфа-липоевая кислота</h3>
					<p class="consist__des"> улучшает чувствительность к инсулину, помогает справиться с нейропатией
					</p>
				</div>
			</div>
			<div class="consist__row consist__row-2">
				<div class="consist__item">
					<div class="consist__img"><span class="consist__img--rline"></span> <img alt="consist"
							class="consist__foto" src="img/comp2.png"></div>
					<h3 class="consist__text">Хром</h3>
					<p class="consist__des">нормализует уровень глюкозы<br>
						в крови
					</p>
				</div>
				<div class="consist__item">
					<div class="consist__img"><span class="consist__img--lline"></span> <img alt="consist"
							class="consist__foto" src="img/comp4.png"></div>
					<h3 class="consist__text">Коэнзим Q10</h3>
					<p class="consist__des">обеспечивает защиту клеток, <br>нормализует состав крови</p>
				</div>
			</div>
			<img alt="certificate" class="consist__cert" src="img/certificate.png">
			<img alt="product" class="consist__prod" src="img/product_pack.png">
			<img alt="recommendation" class="consist__rec" src="img/recommend.png">
		</div>
	</div>
</section>