<section class="doctor block">
    <div class="container">
        <h2 class="title">
            <span class="diaf">Diafast</span> — <span class="title--bg nowrap">уникальная разработка,</span> которая предотвратит страшные последствия
            диабета
        </h2>
        <img src="img/doctor.png" alt="" class="doctor-image" width="948" height="auto">
        <img src="img/doctor-small.png" alt="" class="doctor-image-sm" width="948" height="auto">
        <div class="description">
            <p class="description-text">
                Ученый Эрик Уитфилд очень страдал от того, что диабет ежедневно буквально “съедал” его жену, а
                рекомендации врачей ей не помогали. В одну из командировок в Грецию он познакомился с мужчинами с
                Эгейского острова Халки. Оказалось, что у них на родине о диабете ничего не знают.<br>
                Так ученый заинтересовался этой информацией. </p>
            <p class="description-text">
            Он начал копать глубже и выявил, что <span class="black">жители острова Халки<br>
            не болеют диабетом из-за их питания и хорошего пищеварения</span>.
            В большинстве же своем люди питаются кто как, страдают от проблем с пищеварением, из-за чего вырабатываются
            токсины, которые и провоцируют развитие диабета. </p>
            <p class="description-text">
            Чтобы помочь своей жене и другим людям, Уитфилд создал программу <span class="black">Halki Diabetes Remedy.</span> Именно благодаря ей
            впоследствии ученные создали <span class="black">Diafast</span>, который помогает выводить токсины и избавляет от симптомов диабета.

            </p>
            <div class="ever-popup-btn btn">Заказать Diafast<br><span>бесплатно</span></div>
        </div>
</section>