<section class="order block">
		<div class="container">
			<h2 class="title order__title">Как заказать доставку <span class="diaf">Diafast</span></h2>
			<div class="order__content">
				<div class="item">
					<div class="img-wrap"><img alt="order" class="item__photo" src="img/order-1.jpg"></div>
					<h4 class="item__ttl">Заполните форму&nbsp;<br>заказа</h4>
					<p class="item__text">Укажите свое имя и&nbsp;номер телефона</p>
				</div>
				<div class="item">
					<div class="img-wrap"><img alt="order" class="item__photo" src="img/order-2.jpg"></div>
					<h4 class="item__ttl">Примите звонок&nbsp;<br>оператора</h4>
					<p class="item__text">Специалист проконсультирует&nbsp;<br>и уточнит адресные данные</p>
				</div>
				<div class="item">
					<img alt="order" class="item__photo" src="img/order-3.jpg">
					<h4 class="item__ttl">Оплатите&nbsp;<br>
						после получения</h4>
					<p class="item__text">Предоплата не требуется</p>
				</div>
			</div>
		</div>
	</section>