<section class="sign">
  <div class="container">
    <ul class="sign-info">
      <li class="sign-info-box">
        <img src="img/icon-sign1.svg" alt="sign" class="sign-info__icon" />
        <p class="sign-info__text">При диабете 2-го типа</p>
      </li>
      <li class="sign-info-box">
        <img src="img/icon-sign2.svg" alt="sign" class="sign-info__icon" />
        <p class="sign-info__text">Уникальная разработка</p>
      </li>
      <li class="sign-info-box">
        <img src="img/icon-sign3.svg" alt="sign" class="sign-info__icon" />
        <p class="sign-info__text">Удобно принимать</p>
      </li>
    </ul>
    <h2 class="title sign__title-number">
      У вас диабет,<br> и вы уже столкнулись с его симптомами?
    </h2>
    <ul class="sign-content">
      <li class="sign-content-box">
        <div class="sign-content__img">
          <img src="img/sign1.png" alt="sign" />
        </div>
        <p class="sign-content__text">Головные боли и сухость во рту</p>
      </li>
      <li class="sign-content-box sign-box-line">
        <div class="sign-content__img">
          <img src="img/sign2.png" alt="sign" />
        </div>
        <p class="sign-content__text">Частые позывы в туалет</p>
      </li>
      <li class="sign-content-box">
        <div class="sign-content__img">
          <img src="img/sign3.png" alt="sign" />
        </div>
        <p class="sign-content__text">Нарушения аппетита</p>
      </li>
      <li class="sign-content-box">
        <div class="sign-content__img">
          <img src="img/sign4.png" alt="sign" />
        </div>
        <p class="sign-content__text">Онемения и отеки конечностей</p>
      </li>
      <li class="sign-content-box sign-box-line sign-box-line--scele">
        <div class="sign-content__img">
          <img src="img/sign5.png" alt="sign" />
        </div>
        <p class="sign-content__text">Проблемы с кожей</p>
      </li>
      <li class="sign-content-box">
        <div class="sign-content__img">
          <img src="img/sign6.png" alt="sign" />
        </div>
        <p class="sign-content__text">Нарушение зрения</p>
      </li>
    </ul>
  </div>
</section>
