.popup {


    &-wrapper {
        background-color: #f2f4f6;
        border-radius: 10px;
        width: 832px;
				display: flex;
				justify-content: flex-end;
        width: 100%;
        padding-top: 52px;
        padding-right: 53px;
        padding-bottom: 32px
    }

    &__img {
        position: relative;
        padding-top: 190px;

        &__pack {
            position: relative;
            z-index: 50;
            padding-left: 50px;
            width: 509px;
            height: 240px;
        }

        &__cert {
            position: absolute;
            left: 184px;
            width: 38%;
            top: 87px;
            z-index: 49;
        }

        &__medal {
            position: absolute;
            left: 40px;
            top: 130px;
            z-index: 51;
        }
    }
}

.ever-popup__inner {
    padding-top: 0 !important;
    width: 832px !important;
}

.ever-popup__close:after, .ever-popup__close:before {
    background: #fd3232 !important;
    height: 3px !important;
    border-radius: 5px;
    width: 29px !important;
}

.ever-popup__close {
    top: 15px !important;
    right: 20px !important;
    width: 29px !important;
    height: 29px !important;
}

@media screen and (max-width:1023px) {
    .popup {
        &-wrapper {
            width: 270px;
						background-color: rgba(0,0,0,0);
						padding-right: 0;
            .form__lock {
                display: none;
            }
        }
        &__img {
            display: none;
         }
        
    }

    .ever-popup__inner {
        width: 270px !important;
    }

    .ever-popup__close {
        top: 20px !important;
        right: 0px !important;
    }
}